button {
  background-color: teal;
  color: white;
  border-radius: 5px;
  padding: 1rem 2rem;
  transition: all 600ms;
  cursor: pointer;
  border: 1px solid transparent;
}
button:hover {
  background-color: transparent;
  color: teal;
  border: 1px solid teal;
}

.bg-red {
  background-color: red;
}
